/* div for the two buttons create order and refresh list */
.createAndRefresh{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 82.5%;
}

.createOrder {
  width: 60%;
  padding: 0.5rem 1rem;
  background-color: orange;
  font-family: 'Lora', serif;
  font-size: 15px;
  font-weight: bold;
  border: solid 5px green
}

.createOrder:hover{
  color: white;
}

.createOrder:active {
  color: black;
  background: yellow;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.refreshList {
  width: 60%
}

.modalContainer{
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.9);
  z-index: 1;
}

.orderTitle {
  font-family: 'Open Sans', sans-serif;
}

.orderTable {
  margin: 0 auto;
  font-family: 'Lora', serif;
}

.orderTableColumn {
  padding: 0px 30px;
}

/* Create section */
.formHeaderCreateDistinctOrder{
  font-size: 300%;
  margin-left:18%;
}

.formLabelTextCreateDistinctOrder{
  margin-left:20%;
}

.createInputOrderNo{
  margin-left: 10%;
}

.createOrderButton{
  font-size: 110%;
  margin-top: 5%;
  margin-left: 45.5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%; 
}

.formLabelTextStatusCreateDistinctOrder{
  margin-left:13%;
}

.formLabelTextCreateDistinctOrder{
  
}

/* End of create section */

/* Update section */
.formHeaderUpdate{
  font-size: 300%;
  margin-left:5%;
}

.formLabelTextUpdate{
  margin-left:25%;
  font-size: 130%;
}

.formLabelOrderNoUpdate{
  margin-left:5%;
  font-size: 130%;
}

.updateOrderNo{

}

.updateCurrentDistinctOrderButton{
  margin-top: 5%;
  margin-left: 42%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.formLabelTextStatusUpdateDistinctOrder{
  margin-left:13%;
}

.formLabelTextUpdateDistinctOrder{
  
}

/* End of Update section */

/* delete section */
.formHeaderDelete{
  font-size: 300%;
  margin-left:15%;
}

.formLabelTextDelete{
  margin-left:31%;
  font-size: 130%;
}

.formLabelOrderNoDelete{
  margin-left:5%;
  font-size: 130%;
}

.deleteCurrentDistinctOrderButton{
  margin-top: 5%;
  margin-left: 42%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}


.formLabelTextStatusDeleteDistinctOrder{
  margin-left:13%;
}

.formLabelTextDeleteDistinctOrder{
  
}

/* End of delete section */

/* div to contain the page */
.orders {
    text-align: center;
    background-color: black;
    height: 100vh;
  }


  .actionButtons{
    width: 20%;
  }











