.landing {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  padding-top: 1%;
}

.landing .landing-text {
  color: white;
  margin-top: 100px;
}

.landing-nav {
  margin-top: 80px;
}

.customer-nav,
.admin-nav,
.login-nav {
  text-decoration: none;
  padding: 20px;    background-color: grey;
  border: 1px solid grey;
  border-radius: 20px;
  color: black;
  font-size: 24px;
}

.customer-nav {
  margin-right: 50px;
}

.admin-nav {
  margin-left: 50px;
  margin-right: 50px;
}

.login-nav {
  margin-left: 50px;
}