.createOrderPopup-box{
  width:30%;
  height: 48%;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.updateCurrentDistinctOrderPopup-box{
  width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.deleteCurrentDistinctOrderPopup-box{
  width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.createOrder-close-icon {
  margin-left: 95%;
}

.updateCurrentDistinctOrder-close-icon{
  margin-left: 95%;
}

.deleteCurrentDistinctOrder-close-icon{
  margin-left: 95%;
}

.createOrderConfirmationPopup-box {
  width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.createOrderItemConfirmationPopup-box {
  /* width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 3; */
  position:absolute;
  top: 5%;
  left: 32%;
  width:40%;
  height: 80%;
  border: 1px solid white;
  padding:3%;
  z-index: 3;
}

.updateOrderConfirmationPopup-box{
  width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.deleteOrderConfirmationPopup-box{
  width:30%;
  height: 35%;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.createOrderItemConfirmation-close-icon {
  margin-left: 95%;
}

.createOrderConfirmation-close-icon {
  margin-left: 95%;
}

.updateOrderConfirmation-close-icon{
  margin-left: 95%;
}

.deleteOrderConfirmation-close-icon{
  margin-left: 95%;
}

.viewOrderPopup-box{
  position:absolute;
  top: 5%;
  left: 32%;
  width:40%;
  height: 80%;
  border: 1px solid white;
  padding:3%;
  z-index: 2;
}

.viewOrder-close-icon{
  margin-left: 95%;
}

.createOrderItemPopup-box{
  position:absolute;
  top: 5%;
  left: 32%;
  width:40%;
  height: 80%;
  border: 1px solid white;
  padding:3%;
  z-index: 3;
}

.createOrderItem-close-icon{
  margin-left: 95%;
}

.createReceiptPopup-box{
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.createReceipt-close-icon{
  margin-left: 95%;
}

.createReceiptConfirmationPopup-box {
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.createReceiptConfirmation-close-icon {
  margin-left: 95%;
}

.viewReceiptPopup-box{
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.viewReceipt-close-icon{
  margin-left: 95%;
}

.viewReceiptConfirmationPopup-box {
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.viewReceiptConfirmation-close-icon {
  margin-left: 95%;
}

.updateReceiptPopup-box{
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.updateReceipt-close-icon{
  margin-left: 95%;
}

.updateReceiptConfirmationPopup-box {
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.updateReceiptConfirmation-close-icon {
  margin-left: 95%;
}

.deleteReceiptPopup-box{
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  padding-bottom:5%;

  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.deleteReceipt-close-icon{
  margin-left: 95%;
}

.deleteReceiptConfirmationPopup-box {
  width:30%;
  height: auto;
  border: 1px solid white;
  padding:3%;
  position:absolute;
  top: 5%;
  left: 32%;
  z-index: 2;
}

.deleteReceiptConfirmation-close-icon {
  margin-left: 95%;
}


  .view-popup.active,
  .edit-popup.active,
  .destroy-popup.active {
    display: block;
    position: absolute;
    top: 40vh;
    left: 35vw;
    background-color: white;
    color: black;
    height: auto;
    width: 400px;
    padding: 20px;
    z-index: 1;
  }

.view-close-icon, .create-close-icon, .update-close-icon, .delete-close-icon {
  content: 'x';
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 30%;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 30px;
}

.view-close-icon:hover, 
.create-close-icon:hover, 
.update-close-icon:hover, 
.delete-close-icon:hover,
.createOrder-close-icon:hover,
.createReceipt-close-icon:hover,
.updateReceipt-close-icon:hover,
.viewReceipt-close-icon:hover,
.deleteReceipt-close-icon:hover,
.createReceiptConfirmation-close-icon:hover,
.updateReceiptConfirmation-close-icon:hover,
.viewReceiptConfirmation-close-icon:hover,
.deleteReceiptConfirmation-close-icon:hover{
  font-size: 20px;
  cursor: pointer;
}
