.modalViewOrderContainer{
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.9);
  z-index: 3;
}

/* Create Section */
.formHeaderCreateOrderItem{
  font-size: 300%;
  margin-left:0%;
}

.formLabelTextCreateOrder{
  margin-left:0%;
}

.formLabelTextCreateOrderMenuItemId{
  margin-left:-3%;
}

.formLabelTextCreateOrderQuantity{
  margin-left:1.2%;
}

.formLabelTextCreateOrderTotalItemPrice{
  margin-left:-5%;
}

.formLabelTextCreateOrderTableNo{
  margin-left:0.8%;
}

.formLabelTextCreateOrderOrderStatus{
  margin-left:-2%;
}

.formLabelTextStatusCreateOrder{
  margin-left:13%;
}

.formLabelTextCreateOrder{
  
}
/* End of Create Section */

/* Common for Create and update */
/* This is for the similar input tags for the value*/
.createInputOrderNoId{
  /* margin-left: 10%; */
}

.createInputMenuItemId{
  margin-left: 0%;
}

.createInputQuantity{
  margin-left: 0%;
}

.createInputTotalItemPrice{
  margin-left: 0%;
}

.createInputTableNo{
  margin-left: 0%;
}

.createInputOrderStatus{
  margin-left: 0%;
}

.createOrderItemsButton{
  font-size: 110%;
  margin-top: 5%;
  margin-left: 0%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  
}
/* End of common for create and update */

/* Update Section */
.formHeaderUpdateOrderItem{
  font-size: 300%;
  margin-left:0%;
}

.updateOrderConfirmationHeader{
  font-size: 300%;
  margin-left: 25%;
}

.formLabelTextUpdateOrder{
  margin-left:0%;
}

.formLabelTextUpdateOrderMenuItemId{
  margin-left:-1%;
}

.formLabelTextUpdateOrderQuantity{
  margin-left:4.5%;
}

.formLabelTextUpdateOrderTotalItemPrice{
  margin-left:-3.8%;
}

.formLabelTextUpdateOrderTableNo{
  margin-left:4%;
}

.formLabelTextUpdateOrderOrderStatus{
  margin-left:0.2%;
}

.formLabelTextStatusUpdateOrder{
  margin-left:13%;
}

.formLabelTextUpdateOrder{
  
}
/* End of update section */

/* Delete section */
.formHeaderDeleteOrderItem{
  font-size: 300%;
  margin-left:15%;
}

.formLabelTextDeleteOrderItem{
  margin-left:31%;
  font-size: 130%;
}

.formLabelMenuItem{
  margin-left:5%;
  font-size: 130%;
}

.deleteOrderItemButton{
  margin-top: 5%;
  margin-left: 42%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.formLabelTextStatusDeleteOrder{
  margin-left:13%;
}

.formLabelTextDeleteOrder{
  
}
/* End of delete section */
