body {
  background: none;
  background-color: black;
  color: white;
}

.change-password-container {
  width: 30%;
  height: 60%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}

.change-password-input {
  position: relative;
  right: 5%;
  margin: 0 auto;
  width: 20rem;
  height: 5rem;
}

#new-password,
#confirm-password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  border: 2px solid white;
  font-size: inherit;
  border-radius: 0.5rem;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;
}

#new-password:hover,
#confirm-password:hover {
  border-color: yellow;
}

#new-password:focus,
#confirm-password:focus {
  border-color: yellow;
}

label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in;
  background-color: black;
}

#new-password:focus ~ label,
#new-password:not(:placeholder-shown)#new-password:not(:focus)
~ label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

#confirm-password:focus ~ label,
#confirm-password:not(:placeholder-shown)#confirm-password:not(:focus)
~ label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.change-password-button,
.confirm-password-button {
  padding: 2%;
}