body {
  background: none;
  background-color: black;
  color: white;
}

.login-container {
  width: 30%;
  height: 60%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}

.login-input {
  position: relative;
  right: 5%;
  margin: 0 auto;
  width: 20rem;
  height: 5rem;
}

#username-input,
#password-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  border: 2px solid white;
  font-size: inherit;
  border-radius: 0.5rem;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;
}

#username-input:hover,
#password-input:hover {
  border-color: yellow;
}

#username-input:focus,
#password-input:focus {
  border-color: yellow;
}

label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in,
              left 200ms ease-in,
              font-size 200ms ease-in;
  background-color: black;
}

#username-input:focus ~ label,
#username-input:not(:placeholder-shown)#username-input:not(:focus)
~ label {
  top: -0.5rem;
  font-size: 0.9rem;
  left: 0.8rem;
}

#password-input:focus ~ label,
#password-input:not(:placeholder-shown)#password-input:not(:focus)
~ label {
  top: -0.5rem;
  font-size: 0.9rem;
  left: 0.8rem;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.login-button,
.cancel-button {
  padding: 2%;
  text-decoration: none;
}

.login-page-link {
  text-decoration: none;
}
